<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>About Us</h1>
            <p>and how to reach us</p>
        </div>
        <div class="info-box">
            <p>
                <i class="fa fa-phone-square"></i>
                0333 009 6690
                <span class="divider-line"></span>

                <i class="fa fa-envelope-square"></i>
                info@TheatreCompany.com
            </p>
        </div>
    </section>
    <!-- End page-banner section -->
    <!-- about-section
        ================================================== -->
    <section class="about-section">

        <div class="container">
            <div class="about-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="images">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/s1.jpg" alt="about1">
                                    <img src="~/images/s2.jpg" alt="about2">
                                </div>
                                <div class="col-md-6">
                                    <img class="snd-size" src="~/images/s3.jpg" alt="about3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h3>We review and gives honest opinions on movies!</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                            <ul class="feature-list">
                                <li>Reviews</li>
                                <li>Announcements</li>
                                <li>Opinions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End about-section -->
<section class="services-section6">

        <div class="container">
            <div class="services-box6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="title-box">
                            <span>Firm of The Year</span>
                            <h2>Award-Wining Theatre</h2>
                        </div>
                        <div class="services-post6">
                            <div class="icon">
                                <span class="material-icons-outlined">
                                    app_registration
                                </span>
                            </div>
                            <div class="serv-content">
                                <h4>Creative Architecture designs</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>

                        <div class="services-post6">
                            <div class="icon">
                                <span class="material-icons-outlined">
                                    crop_rotate
                                </span>
                            </div>
                            <div class="serv-content">
                                <h4>The joy of Best Living</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>

                        <div class="services-post6">
                            <div class="icon">
                                <span class="material-icons-outlined">
                                    straighten
                                </span>
                            </div>
                            <div class="serv-content">
                                <h4>Professional Planning</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-holder">
                            <img src="~/images/s5.jpg" alt="services">
                            <a class="serv-link" href="services.html">
                                Services
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End services-section6 -->
</div>