<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>About Us</h1>
            <p>and how to reach us</p>
        </div>
        <div class="info-box">
            <p>
                <i class="fa fa-phone-square"></i>
                0333 009 6690
                <span class="divider-line"></span>

                <i class="fa fa-envelope-square"></i>
                info@TheatreCompany.com
            </p>
        </div>
    </section>
    <!-- End page-banner section -->
    <!-- about-section
        ================================================== -->
    <section class="about-section">

        <div class="container">
            <div class="about-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="images">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/upload/home2/about-grid-1.jpg" alt="about1">
                                    <img src="~/upload/home2/about-grid-2.jpg" alt="about2">
                                </div>
                                <div class="col-md-6">
                                    <img class="snd-size" src="~/upload/home2/about-grid-3.jpg" alt="about3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h3>We design transformational places, plans and strategies that improve life.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                            <ul class="feature-list">
                                <li>Interior Design</li>
                                <li>Vector Design</li>
                                <li>Responsive Design</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End about-section -->
    <!-- services-section3
        ================================================== -->
    <section class="services-section3">

        <div class="container">
            <div class="services-box3">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <div class="services-post3">
                            <i class="fas fa-ruler-combined"></i>
                            <h4>Planing</h4>
                            <p>Complex architecture, design by interior designer </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="services-post3">
                            <i class="fas fa-edit"></i>
                            <h4>Design</h4>
                            <p>We provide you with the incomparable designs </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="services-post3">
                            <i class="fas fa-chart-line"></i>
                            <h4>Finalisation</h4>
                            <p>Choose the style, we complete with our file </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End services-section3 -->
    <!-- features-carousel-section
        ================================================== -->
    <section class="features-carousel-section">

        <div class="container">
            <div class="features-carousel-box owl-wrapper">
                <div class="owl-carousel owl-theme" data-num="1">

                    <div class="item">
                        <div class="feature-post">
                            <div class="image-holder">
                                <img src="~/upload/home3/carousel-img1.jpg" alt="carousel1">
                            </div>
                            <div class="feature-post-content">
                                <span>our specialty</span>
                                <h3>Transformational Designs</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-post">
                            <div class="image-holder">
                                <img src="~/upload/home3/services.jpg" alt="carousel1">
                            </div>
                            <div class="feature-post-content">
                                <span>planings</span>
                                <h3>Interception Design</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-post">
                            <div class="image-holder">
                                <img src="~/upload/home3/home3_slide-01.jpg" alt="carousel1">
                            </div>
                            <div class="feature-post-content">
                                <span>lot of features</span>
                                <h3>Functional Finalisation</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- End features-carousel-section -->

    <div class="divider-line"></div>

    <!-- features-section
        ================================================== -->
    <section class="features-section">

        <div class="container">
            <div class="features-box">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="feature-content">
                            <h3>Transformational Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <a href="#" class="theme-button"><span>Learn More</span></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="image-holder">
                            <img src="~/upload/home2/transformational_designs.png" alt="transformational_designs">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End features-section -->

    <div class="divider-line"></div>

    <!-- features-section2
        ================================================== -->
    <section class="features-section2">

        <div class="container">
            <div class="features-box2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="images-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="image-holder">
                                        <img src="~/upload/home3/feature-img-1.jpg" alt="feature1">
                                        <span>Building &amp; Construction</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="image-holder">
                                        <img src="~/upload/home3/feature-img-2.png" alt="feature2">
                                        <span>Modern Architecture</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-content">
                            <span>amazing features</span>
                            <h3>Royarch Theme</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed doreas m od tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End features-section -->
    <!-- services-section6
        ================================================== -->
    <section class="services-section6">

        <div class="container">
            <div class="services-box6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="title-box">
                            <span>Firm of The Year</span>
                            <h2>Award-Wining Company</h2>
                        </div>
                        <div class="services-post6">
                            <div class="icon">
                                <span class="material-icons-outlined">
                                    app_registration
                                </span>
                            </div>
                            <div class="serv-content">
                                <h4>Creative Architecture designs</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>

                        <div class="services-post6">
                            <div class="icon">
                                <span class="material-icons-outlined">
                                    crop_rotate
                                </span>
                            </div>
                            <div class="serv-content">
                                <h4>The joy of Best Living</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>

                        <div class="services-post6">
                            <div class="icon">
                                <span class="material-icons-outlined">
                                    straighten
                                </span>
                            </div>
                            <div class="serv-content">
                                <h4>Professional Planning</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-holder">
                            <img src="~/upload/home3/services.jpg" alt="services">
                            <a class="serv-link" href="services.html">
                                Services
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End services-section6 -->
</div>