

<!-- Top right info box-->
<div id="content">



    <div class="info-box">
        <p>
            <i class="fa fa-phone-square"></i>
            0333 009 6690
            <span class="divider-line"></span>

            <i class="fa fa-envelope-square"></i>
            info@TheatreCompany.com
        </p>
    </div>

    <!-- scroller-section
        ================================================== -->
    <section class="scroller-section">

        <div class="scroller-box owl-scroller">
            <div class="owl-carousel owl-theme" data-num="3">

                <div class="item">
                    <div class="scroller-post">
                        <div class="image-holder">
                            <img src="~/images/s1.jpg" alt="s1">
                        </div>
                        <div class="hover-box">
                            <span>01</span>
                            <a class="cat-link" href="portfolio.html">buildings</a>
                            <h3><a href="single-project.html">The concept for better living</a></h3>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="scroller-post">
                        <div class="image-holder">
                            <img src="~/images/s2.jpg" alt="s2">
                        </div>
                        <div class="hover-box">
                            <span>02</span>
                            <a class="cat-link" href="portfolio.html">buildings</a>
                            <h3><a href="single-project.html">Dreams under construction</a></h3>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="scroller-post">
                        <div class="image-holder">
                            <img src="~/images/s3.jpg" alt="s3">
                        </div>
                        <div class="hover-box">
                            <span>03</span>
                            <a class="cat-link" href="portfolio.html">buildings</a>
                            <h3><a href="single-project.html">Shaping for a better future</a></h3>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="scroller-post">
                        <div class="image-holder">
                            <img src="~/images/s4.jpg" alt="s1">
                        </div>
                        <div class="hover-box">
                            <span>04</span>
                            <a class="cat-link" href="portfolio.html">buildings</a>
                            <h3><a href="single-project.html">The concept for better living</a></h3>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="scroller-post">
                        <div class="image-holder">
                            <img src="~/images/s6.jpg" alt="s2">
                        </div>
                        <div class="hover-box">
                            <span>05</span>
                            <a class="cat-link" href="portfolio.html">buildings</a>
                            <h3><a href="single-project.html">Dreams under construction</a></h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <p class="fixed-notifier">
            Slide by scroll
            <span></span>
        </p>

    </section>
    <!-- End scroller-section -->

</div>
